.header
    font-weight: bold
    color: #0165FF
    border-radius: 12px 12px 0 0
    background-color: var(--white)
    padding: 0 48px
.header__link
    display: inline-flex
    padding: 24px 0
    border-bottom: 2px solid #0165FF
    align-items: center
    svg
        margin-right: 16px
        height: 25px
        width: 25px
