.task
    margin: 15px 0
    display: flex
    align-items: center
    font-weight: 500
    font-size: 14px
    &__icon
        border-radius: 2px
        margin-right: 10px
        display: flex
        justify-content: center
        align-items: center
        height: 16px
        width: 16px
        &--completed
            background-color: #EDF9F2
        &--active
            background-color: var(--blue)
        &--blocked
            background-color: #F4F5F7
        svg
            height: 10px
            width: 10px
