.task
    padding: 10px
    display: flex
    align-items: center
    font-weight: 500
    font-size: 14px
    text-decoration: none
    color: var(--black)
    border-radius: 12px
    &--active
        font-weight: 600
    &--blocked
        color: #AEB5C1
        pointer-events: none

    &__icon
        border-radius: 2px
        margin-right: 10px
        display: flex
        justify-content: center
        align-items: center
        height: 16px
        width: 16px
        aspect-ratio: 1
        &--completed
            background-color: #EDF9F2
        &--active
            background-color: var(--blue)
        &--blocked
            background-color: var(--grey-bg)
        svg
            height: 10px
            width: 10px
