.footer
    margin-top: 16px
    display: flex
    justify-content: space-between
    font-size: 12px
    color: var(--grey)
    div
        display: flex
        p:not(:first-child)::before
            content: '•'
            margin: 0 10px
